
<!-- Main -->
<div class="wrapper style1">

	<div class="container">
		<div class="row">
			<div class="4u" id="sidebar">
				<%- partial("_shared/sidebar") %>
			</div>
			<div class="8u skel-cell-mainContent" id="content">

				<article id="main">
					<header>
						<h2>League of Legend</h2>
					</header>
					
					<a href="League of Legend" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
					<h3>Introduction</h3>
					<p>
						League of Legends (parfois abrege LoL, anciennement nomme League of Legends: Clash of Fates) est un jeu video d'ordinateur de type arene de bataille en ligne multijoueur (MOBA) gratuit developpe et edite par Riot Games sur Windows1 et Mac OS X. Fin janvier 2013, un nouveau client beta pour Mac a ete distribue par Riot Games2. Le jeu a ete evoque pour la premiere fois le 8 octobre 2008 et est entre en phase beta le 10 avril 2009.
						
						Deux concepteurs du mod tres populaire de Warcraft III, Defense of the Ancients: Allstars (plus connu sous son abreviation DotA), Steve « Guinsoo » Feak et Steve « Pendragon » Mescon, ont rejoint Riot Games pour la realisation de League of Legends, d'ou une forte similitude avec DotA. Pendragon, le directeur des relations communautes chez Riot Games, a participe a la creation du site Internet de DotA: Allstars ainsi qu'a ses forums.

						League of Legends devient rapidement un veritable phénomène. C'est en 2013 qu'il devient l'un des jeux les plus joues au monde. Il seduit aussi le monde du sport electronique en devenant l'evenement eSport le plus regarde de l'histoire, avec plus de 32 millions de spectateurs en ligne et plus de 8,5 millions de vues simultanees lors de la finale de la saison 35. Le record est de nouveau battu lors de la saison 5 avec un total de 36 millions de spectateurs avec un pic d'audience de 14 millions de spectateur.
					</p>
					<section>
						<header>
							<h3>Principe du Jeu</h3>
						</header>
						<p>
							Il existe plusieurs modes de jeu : le mode normal PvP, le mode Draft, les parties d'entraînement face à l'IA, l'ARAM (All Random All Mid) et le Dominion, ainsi que d'autres modes temporaires.

							Le jeu se décompose en sessions, avec deux équipes qui s'affrontent par le biais de champions invoqués par les joueurs, lesquels incarnent des invocateurs10,14.

							Au début de chaque bataille, chacun des joueurs peut choisir un champion qui va le représenter au combat. Il peut choisir parmi plus de cents champions (dont dix gratuits changés chaque mardi) et « acheter plus de 200 objets uniques » pour créer des combinaisons efficaces au combat. League of Legends comprend trois paliers d'objets12,15. Il y a les objets de base (potions, élixirs ou balises de vision qui offrent des bonus temporaires ou permettent aux champions de se régénérer), les objets du deuxième palier offrent des améliorations permanentes (caractéristiques ou des capacités de combat), enfin, le dernier palier regroupe les objets légendaires, créés en combinant plusieurs objets des paliers inférieurs15. De plus, 3 objets différents (appelées reliques) qui servent (directement ou non) à déterminer la position des champions ennemis, sont disponibles. Cependant, ces balises ne sont pas disponibles dans tous les modes de jeu. Une grande partie de ces objets confèrent des effets passifs ou actifs souvent plus complexes qu'une simple augmentation de statistiques (ralentissement des ennemis touchés par un sort, saignement, révélation d'une partie de la carte, etc.)

							League of Legends comprend un élément persistant, l'invocateur, qui sert à représenter le joueur à la manière d'un avatar et à déterminer les statistiques et les scores de celui-ci. Au cours de sessions temporaires de jeu, l'invocateur fait intervenir des champions qui influencent l'issue de la partie de façon dynamique14. Les champions peuvent gagner des niveaux d'expérience sur les champs de bataille (alias les « Champs de justice »), jusqu'au niveau 18 maximum. Chaque champion dans League of Legends offre un style de jeu différent, allant du champion spécialiste du soutien (« support ») au mage infligeant des dégâts élevés en une courte période de temps (« nuker »)16. Au fur et à mesure que le champion gagne des niveaux, il voit ses caractéristiques, ses points de vie et son mana augmenter. Il gagne également des points de compétence qui lui permettent d'apprendre de nouvelles compétences ou d'en améliorer : ces compétences sont au nombre de 4, et sont uniques et différentes pour chaque champion. Les champions gagnent également de l'or, acquis principalement en tuant les champions ennemis, ainsi que les monstres et sbires contrôlés par l'IA. Cet or peut être dépensé à la boutique située à la base pour acheter de nombreux objets qui confèrent des talents ou des bonus particuliers à votre champion sur le terrain.
						</p>
						
					</section>
					<section>
						<header>
							<h3>Lien:</h3><a href="http://euw.leagueoflegends.com/fr"  alt="" />League of Legend</a>
						</header>
						
					</section>
				</article>
			</div>
		</div>
		<hr />
		<div class="row">
			<article class="4u special">
				<a href="Dark Soul III" class="image featured"><img src="images/pic07.jpg" alt="" /></a>
				<header>
					<h3><a href="Dark Soul III">Dark Soul III</a></h3>
				</header>
				<p>
					Au commencement, il y avait lf?ge des Anciens, o? les dragons ancestraux r?gnaient sans conteste. Puis vint le Feu, amenant la disparit?. Certains, cach?s dans les T?n?bres, y d?couvrirent un nouveau pouvoir et sf?lev?rent contre les dragons. Gwen, le Seigneur de la Lumi?re, accompagn? de Nito, le Premier des Morts, ainsi que la Sorci?re dfIzalith et ses filles du Chaos, eux-m?mes aid?s par la trahison de Seath lf?corch?, d?cim?rent les dragons ancestraux et lf?ge du Feu commen?a.
				</p>
			</article>
			<article class="4u special">
				<a href="Ratchet et Clank" class="image featured"><img src="images/pic08.jpg" alt="" /></a>
				<header>
					<h3><a href="Ratchet et Clank">Ratchet et Clank</a></h3>
				</header>
				<p>
					Ratchet & Clank (PS4) n'est pas ? consid?rer comme un nouveau jeu de la saga puisqu'il s'agit d'une "re-imagination" du premier opus. Il ne s'agit pas non plus d'un simple remake puisque la totalit? du jeu sera repens? pour cr?er une nouvelle histoire. Pour ce travail, les deux studios d'Insomniac Games (bas? en Californie et Caroline du Nord) vont travailler ensemble, ce qui ne s'?tait jamais produit avant. Le d?veloppement devrait dur? approximativement deux ans o? tout l'univers de Ratchet & Clank pourra ?tre repens?.
				</p>
			</article>
			<article class="4u special">
				<a href="Naruto Storm 4" class="image featured"><img src="images/pic09.jpg" alt="" /></a>
				<header>
					<h3><a href="Naruto Storm 4">Naruto Shippuden Storm 4</a></h3>
				</header>
				<p>
					Naruto Shippuden Ultimate Ninja Storm 4 est un jeu de combat inspir? du manga et de l'anime japonais Naruto. Le mode Histoire permet de revivre les derniers ?v?nements du manga, dans des combats ? contre un ou ? trois contre trois, ou face ? d'?normes boss. Le jeu dispose ?galement de plusieurs modes de jeu online et offline, qui permettent d'utiliser ? volont? la centaine de personnages jouables.
				</p>
			</article>
		</div>
	</div>

</div>
